@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255, 255, 255;
  --foreground: 0, 0, 0;
  --primary: 22, 18, 15;
  --primary-foreground: 255, 255, 255;

  --brand-orange: 255, 149, 0;
  --brand-yellow: 235, 255, 121;
  --brand-green: 163, 234, 113;
  --brand-pink: 250, 100, 181;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
